* {
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #fcf9f2;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.start {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  background-color: #00ff08;
  padding: 10px;
}
.header {
  width: 300px;
  margin-bottom: 2vh;
}
.header__section {
  display: flex;
  flex-direction: row;
}

.icon {
  background-color: #fff700;
  width: 80px;
  height: 80px;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
}
.statistics {
  display: flex;
}
.statistics section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics section div {
  background-color: #7c6013;
  width: 80px;
  height: 60px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.statistics section p {
  margin: 0;
}
.game {
  height: 300px;
  width: 300px;
  padding: 10px;
  background-color: #bcaba4;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
  border-radius: 5px;
  box-shadow: -5px 7px 10px #000000, inset 1px -2px 5px #000000,
    inset -2px 2px 5px #ffffff;
}

.num {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1px -2px 5px #fff, inset -2px 2px 5px #000;
  font-weight: bold;
}

.num2 {
  background-color: #ede4db;
  color: #000;
}
.num4 {
  background-color: #e8dac1;
  color: #000;
}
.num8 {
  background-color: #efab7a;
  color: #000;
}
.num16 {
  background-color: #f4944f;
  color: #000;
}
.num32 {
  background-color: #ff7614;
  color: #000;
}
.num64 {
  background-color: #e83500;
  color: #000;
}
.num128 {
  background-color: #ff0000;
  color: #000;
}
.num256 {
  background-color: #ff7614;
  color: #000;
}
.num512 {
  background-color: #ff7614;
  color: #000;
}
.num1024 {
  background-color: #ff7614;
  color: #000;
}
.num2048 {
  background-color: #fff700;
  color: #000;
  box-shadow: 0px 0px 10px #fff700, 0px 0px 20px #fff700, 0px 0px 30px #fff700;
}
.num16384 {
  background-color: #00ff08;
  color: #000;
  box-shadow: 0px 0px 10px #00ff08, 0px 0px 20px #00ff08, 0px 0px 30px #00ff08;
}
.num32768 {
  background-color: #00ffea;
  color: #000;
  box-shadow: 0px 0px 10px #00ffea, 0px 0px 20px #00ffea, 0px 0px 30px #00ffea;
}
.num65536 {
  background-color: #003aff;
  color: #ffffff;
  box-shadow: 0px 0px 10px #003aff, 0px 0px 20px #003aff, 0px 0px 40px #003aff;
}
.controller {
  position: fixed;
  right: 1vw;
  bottom: 1vh;

  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #0000001f;
  overflow: hidden;
  box-shadow: inset -10px 10px 20px #00000062, inset 6px -5px 20px #ffffffb1,
    -3px 3px 4px #00000062, 3px -3px 4px #ffffffb1;
}
.side {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ddff005e;
  box-shadow: 0px 0px 10px #ddff005e, 0px 0px 20px #ddff005e,
    0px 0px 30px #ddff005e;
}
.left {
  left: -80px;
}
.right {
  left: 80px;
}
.up {
  top: -80px;
}
.down {
  top: 80px;
}

.thumb-sticks {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #ddff0083;
  box-shadow: inset -10px 10px 20px #ffffff9e, inset 6px -5px 20px #000000b5,
    -10px 13px 20px #000000c7;
  transition: left 0.15s, top 0.15s;
}
.thumb-sticks div {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 57%;
  top: 27%;
  box-shadow: 0px 0px 2px #fff, 0px 0px 4px #fff, 0px 0px 8px #fff;
}

/*todo X+X+X+X+X+X+ шаблоны +X+X+X+X+X+X*/

.hide {
  display: none;
}

.df-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cp {
  cursor: pointer;
}
.br {
  border-radius: 10px;
}

.bh {
  box-shadow: inset -3px 3px 4px #ffffffde, inset 3px -3px 4px #00000085,
    -3px 3px 4px #00000085;
}
