@font-face {
  font-family: better-vcr;
  src: url("./better-vcr4.0.ttf") format("truetype");
  font-size: 10px;
}

* {
  box-sizing: border-box;
  font-family: "better-vcr", "Trebuchet MS";
  padding: 0;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom left, #fcf9f2, #00000050);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: -3px 2px 4px #00000080, 2px -1px 4px #ffffff80;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.start {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  background-color: #00ff08;
  padding: 10px;
  white-space: nowrap;
  z-index: 5;
}
.header {
  width: 300px;
  margin-bottom: 2vh;
}
.header__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  background-color: #fff700;
  width: 80px;
  height: 80px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.icon span {
  background-color: #353535;
  border-radius: 50%;
  position: absolute;
  color: #929292;
  text-shadow: 0px 1px 1px #ffffff;
  font-size: 12px;
  height: 10px;
  width: 10px;
  box-shadow: -1px 2px 2px #000000a8;
}
.icon span:nth-child(1) {
  top: 3px;
  left: 3px;
  transform: rotate(10deg);
}
.icon span:nth-child(2) {
  top: 3px;
  right: 3px;
  transform: rotate(25deg);
}
.icon span:nth-child(3) {
  bottom: 3px;
  left: 3px;
  transform: rotate(-30deg);
}
.icon span:nth-child(4) {
  bottom: 3px;
  right: 3px;
  transform: rotate(4deg);
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics div {
  background-color: #7c6013;
  width: 80px;
  height: 60px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.statistics p {
  margin: 0;
  font-size: 10px;
}
.rule {
  font-size: 10px;
  text-align: center;
}
.game {
  height: 300px;
  width: 300px;
  padding: 10px;
  background-color: #bcaba4;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
  border-radius: 5px;
  box-shadow: -5px 7px 10px #000000, inset 1px -2px 5px #000000,
    inset -2px 2px 5px #ffffff;
}

.num {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1px -2px 5px #fff, inset -2px 2px 5px #000;
  font-weight: bold;
}

.num2 {
  background-color: #ede4db;
  color: #000;
}
.num4 {
  background-color: #e8dac1;
  color: #000;
}
.num8 {
  background-color: #efab7a;
  color: #000;
}
.num16 {
  background-color: #f4944f;
  color: #000;
}
.num32 {
  background-color: #ff7614;
  color: #000;
}
.num64 {
  background-color: #e83500;
  color: #000;
}
.num128 {
  background-color: #ff0000;
  color: #000;
}
.num256 {
  background-color: #ff7614;
  color: #000;
}
.num512 {
  background-color: #ff7614;
  color: #000;
}
.num1024 {
  background-color: #ff7614;
  color: #000;
}
.num2048 {
  background-color: #fff700;
  color: #000;
  box-shadow: 0px 0px 4px #fff700, 0px 0px 8px #fff700, 0px 0px 16px #fff700;
}

.num4096 {
  background-color: #ff4bcd;
  color: #000;
  box-shadow: 0px 0px 4px #ff4bcd, 0px 0px 8px #ff4bcd, 0px 0px 16px #ff4bcd;
}
.num8192 {
  background-color: #8d0090;
  color: #ffffff;
  box-shadow: 0px 0px 4px #8d0090, 0px 0px 8px #8d0090, 0px 0px 16px #8d0090;
}
.num16384 {
  background-color: #00ff08;
  color: #000;
  box-shadow: 0px 0px 10px #00ff08, 0px 0px 20px #00ff08, 0px 0px 30px #00ff08;
}
.num32768 {
  background-color: #00ffea;
  color: #000;
  box-shadow: 0px 0px 10px #00ffea, 0px 0px 20px #00ffea, 0px 0px 30px #00ffea;
}
.num65536 {
  background-color: #003aff;
  color: #ffffff;
  box-shadow: 0px 0px 10px #003aff, 0px 0px 20px #003aff, 0px 0px 40px #003aff;
}
.controller {
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  z-index: 5;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #0000001f;
  overflow: hidden;
  box-shadow: inset -10px 10px 20px #00000062, inset 6px -5px 20px #ffffffb1,
    -3px 3px 4px #00000062, 3px -3px 4px #ffffffb1;
}
.side {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ddff005e;
  box-shadow: 0px 0px 10px #ddff005e, 0px 0px 20px #ddff005e,
    0px 0px 30px #ddff005e;
}
.left {
  left: -80px;
}
.right {
  left: 80px;
}
.up {
  top: -80px;
}
.down {
  top: 80px;
}

.thumb-sticks {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #ddff0083;
  /* box-shadow: inset 15px -15px 20px #0000008c, inset 5px -5px 15px #0000008c,
    -10px 13px 20px #0000008c; */
  transition: left 0.15s, top 0.15s;
}
.thumb-sticks div {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 57%;
  top: 27%;
  box-shadow: 0px 0px 2px #fff, 0px 0px 4px #fff, 0px 0px 8px #fff;
}

.game-over {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: bold;
  background-color: #ff1100;
  padding: 20px;
  white-space: nowrap;
}
.space {
  margin-top: 2vh;
  padding: 1px;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 1px -1px 1px #fff, -2px 4px 6px #000;
}
.space-btn {
  width: 300px;
  height: 30px;
  background-color: #434343;
  border-radius: 5px;
  color: slategray;
  transform: translate(1px, -1px);
  box-shadow: inset 2px -2px 3px #000, inset -1px 1px 3px #fff;
}

.flying-balls {
  position: absolute;
  /* background-color: #003aff; */
  top: 56%;
  height: 40px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: circle-rotation-right 7s linear infinite;
}
@keyframes circle-rotation-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flying-balls div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #00ddff;

  transition: left 0.15s, top 0.15s;
  animation: circle-rotation-left 7s linear infinite;
}
@keyframes circle-rotation-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.flying-balls div p {
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px 0px 0px 25px;

  box-shadow: 0px 0px 2px #fff, 0px 0px 4px #fff, 0px 0px 8px #fff;
}
.flying-balls__one {
}
.flying-balls__two {
}

/*todo X+X+X+X+X+X+ шаблоны +X+X+X+X+X+X*/

.hide {
  display: none;
}

.df-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cp {
  cursor: pointer;
}
.br {
  border-radius: 10px;
}

.bh {
  box-shadow: inset -3px 3px 4px #ffffffde, inset 3px -3px 4px #00000085,
    -3px 3px 4px #00000085;
}

.bh-sfer {
  box-shadow: inset 15px -15px 20px #00000054, inset 5px -5px 15px #00000054,
    -10px 13px 20px #00000085;
}
